@tailwind base;
@tailwind components;
@tailwind utilities;

.app > div {
  animation: fadeIn 0.3s ease;
}

a {
  @apply text-purple-100 hover:underline;
}

.animate-fade-in {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spin-centred {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinCentred 1s linear infinite;
}

@keyframes spinCentred {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.animate-grown-width {
  animation: grownWidth 3s ease forwards;
}

@keyframes grownWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
